.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar button {
  margin-bottom: 30px;
}

.home-icon {
  width: 180px;
  height: 80px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .navbar button {
    margin-bottom: 30px;
    font-size: 10px;
    font-weight: 600;
    padding: 0 10px;
  }
}
